@CHARSET "UTF-8";

/* テーブル全体の大きさ、配置 */
.vertical-table {
	margin: 0 auto;
	width: 80%
}

/* テーブルヘッダー（カラム名）の背景色、文字中央揃え、文字色、上下余白 */
table th {
	background-color: #fbdade;
	text-align: center;
	color: #6f4b3e;
	padding: 5px 0 5px 0;
}

/* 各項目の上下左右余白、中央揃え */
table td {
	padding: 10px 10px;
	text-align: center;
}

/* テーブルの枠線 */
table, th, td {
	border-collapse: collapse;
	border: 1px solid #c0c0c0;
}

/* 画像サイズ */
table img {
	width: 50px;
	height: 50px;
	margin: 0 auto;
}